# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Storage lokal (upload)
storage/

# Alembic
alembic/*.sqlite

# OS / editor
.DS_Store
.idea/
.vscode/

# Certs
certs/